{% extends 'base.html' %}

{% block title %}Project monitor - {{project.project_name}}{% endblock %}
{% block vp %} actives{% endblock %}
{% block js %}
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"
          integrity="sha256-1A78rJEdiWTzco6qdn3igTBv9VupN3Q1ozZNTR4WE/Y="
          crossorigin="anonymous"></script>
        <script src="/static/js/chroma.js"></script>
        <script src="/static/js/pixel_drawer.js"></script>
{% endblock %}
{% block content %}
        {% csrf_token %}
        <section class="container pb-5">
            <div class="row">
                <div class="col-md-12 py-3">
                    <h1>Project monitor- {{project.project_name}}</h1>
                    <h4 class="text-truncate">{{project.project_disc}}</h4>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-2">
                    <div class="pb-3">
                        <a href="../../" class="btn btn-primary align-bottom mr-1 col-sm-12 text-light">Back to list</a>
                    </div>
                </div>
                <div class="col-md-12 py-3">
                    <div class="row text-center">
                        {% for chart in charts %}
                        <div class="col-md-12 col-lg-6 mb-4">
                            <div class="card h-100" style="overflow: hidden;">
                                <div id="{{chart|cut:' '}}" style="position: relative;width: 100%;height: 100%;float: left;min-height: 420px;">
                                    <div id="{{chart|cut:' '}}_chart" style="margin: 5px;width:100%; height:100%;text-align:center;">
                                        <span style="display: inline-block;height: 100%;vertical-align: middle;"></span>
                                        <img class="loading_img" style="vertical-align: middle;height: 200px;width: 200px;" src="/static/img/loading.gif" />
                                    </div>
                                    <div id="{{chart|cut:' '}}_msg" style="display:none;align-items: center;justify-content: center;position: absolute;width: 45%;height: 20%;;left: 0;margin: auto;top: 0;bottom: 0;right: 0;text-align: center;background: antiquewhite;padding: 5px;">
                                        <p style=""></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
         </section>
{% endblock %}
{% block bodyjs %}
        <script>
          $(document).ready(function() {
            console.log('Page loaded.');
            console.log('Start loading data.');
            seriesCount = {{series_set.count}};
            seriesLoadCount = 0;
            seriesReady = false;
            seriesSet = {};
            chartCount = {{charts.count}};
            chartLoadCount = 0;
            chartRequest = [{% for chart in charts %}{{chart.id}},{% endfor %}];
            {% for series in series_set %}
              load_init_data({{series.id}}, '{{series.label}}');
            {% endfor %}
          });

          drawLineGraph = function(title, conf) {
            //console.log('Line graph: ' + title);
            var disc = conf[1];
            //console.log(disc);
            var xaxisName = conf[2];
            //console.log(xaxisName);
            var yaxisName = conf[3];
            //console.log(yaxisName);
            var traces = conf[4];
            //console.log(traces);
            var traceSet = [];
            var syncCount = 0;
            var emptyCount = 0;
            for(var i=0; i<(traces.length); i++){
              if(traces[i].xAxis_id == traces[i].yAxis_id){
                if(!seriesSet[traces[i].xAxis_id][3]) syncCount ++;
                else if(seriesSet[traces[i].xAxis_id][4]) emptyCount ++;
                var trace = {
                  x: seriesSet[traces[i].xAxis_id][2],
                  y: seriesSet[traces[i].xAxis_id][1],
                  name: traces[i].traceName,
                  type: 'scatter'
                  //mode: 'lines+markers'
                };
              }else{
                if(!seriesSet[traces[i].xAxis_id][3] && !seriesSet[traces[i].yAxis_id][3]) syncCount ++;
                else if(seriesSet[traces[i].xAxis_id][4] || seriesSet[traces[i].yAxis_id][4]) emptyCount ++;
                var trace = {
                  x: seriesSet[traces[i].xAxis_id][1],
                  y: seriesSet[traces[i].yAxis_id][1],
                  name: traces[i].traceName,
                  type: 'scatter',
                  mode: 'lines+markers'
                };
              }
              traceSet.push(trace);
            }
            var layout = {
              title: title,
              xaxis: {title: xaxisName,automargin:true},
              yaxis: {title: yaxisName,automargin:true}
            };
            $('#'+title.replace(/ /g, '') + '_chart').html('');
            Plotly.newPlot(title.replace(/ /g, '') + '_chart', traceSet, layout, {displaylogo: false, responsive: true});
            //console.log(syncCount);
            //console.log(traces.length);
            if(traces.length == 0){
              $('#' + title.replace(/ /g, '') + '_msg').children('p').text('No any trace in this chart!');
              $('#' + title.replace(/ /g, '') + '_msg').css('display', 'flex');
            }else if(emptyCount == traces.length){
              $('#' + title.replace(/ /g, '') + '_msg').children('p').text('Waiting for data...');
              $('#' + title.replace(/ /g, '') + '_msg').css('display', 'flex');
            }else if(syncCount > 0){
              $('#' + title.replace(/ /g, '') + '_msg').children('p').html('Data syncing...<br />It may takes few minutes.');
              $('#' + title.replace(/ /g, '') + '_msg').css('display', 'flex');
            }
            chartLoadCount++;
            if(chartCount == chartLoadCount)
              console.log('All charts are ready.');
          };
          drawHeatmap = function(title, conf) {
            //Init data
            //console.log('Thermal graph: ' + title);
            var disc = conf[1];
            //console.log(disc);
            var axisName = conf[2];
            //console.log(axisName);
            var traces = conf[4];
            //console.log(traces);
            if(traces.length > 0){
              var dataSet = seriesSet[traces[0].xAxis_id][1];
              //console.log(dataSet);
              if(dataSet.length > 0){
                var data = JSON.parse(dataSet[dataSet.length-1]);
                //console.log(data);
                var datatime = seriesSet[traces[0].xAxis_id][2];
                datatime = new Date(datatime[datatime.length-1]);
                datatime = datatime.getFullYear() + '/' + (datatime.getMonth()+1) + '/' + datatime.getDate() + ' ' +
                                                           datatime.getHours() + ':' + datatime.getMinutes() + ':' + datatime.getSeconds() + '.' +
                                                           datatime.getMilliseconds();
                //console.log(datatime);
                var isEmpty = false;
                //console.log(dataSet.length);
                data.forEach(function(d) {
                  d.forEach(function(e, index) {
                    this[index] = e*1;
                  }, d);
                });
                if(dataSet.length >= 5000)
                  var isSynced = false;
                else
                  var isSynced = true;
              }else{
                var data = 0;
                var datatime = 'No data.';
                var isEmpty = true;
              }
              var noTrace = false;
            }else{
              var data = 0;
              var datatime = 'No data.';
              var noTrace = true;
              var isEmpty = true;
            }
            data = [
              {
                z: data,
                type: 'heatmap',
                zsmooth: 'best',
                colorscale: 'Portland'
              }
            ];
            var layout = {
              title: title,
              zaxis: {title: 'Tempture'},
              //paper_bgcolor : 'rgba(0,0,0,0)',
              //plot_bgcolor : 'rgba(0,0,0,0)',
              autosize: true,
            };
            $('#'+title.replace(/ /g, '') + '_chart').html('');
            Plotly.newPlot(title.replace(/ /g, '') + '_chart', data, layout, {displaylogo: false, responsive: true});
            if(noTrace){
              $('#' + title.replace(/ /g, '') + '_msg').children('p').text('No data series in this chart!');
              $('#' + title.replace(/ /g, '') + '_msg').css('display', 'flex');
            }else if(isEmpty){
              $('#' + title.replace(/ /g, '') + '_msg').children('p').text('Waiting for data...');
              $('#' + title.replace(/ /g, '') + '_msg').css('display', 'flex');
            }else if(!isSynced){
              $('#' + title.replace(/ /g, '') + '_msg').children('p').html('Data syncing...<br />It may takes few minutes.');
              $('#' + title.replace(/ /g, '') + '_msg').css('display', 'flex');
            }
            chartLoadCount++;
            if(chartCount == chartLoadCount)
              console.log('All charts are ready.');
          };

          drawThermalGraph = function(title, conf) {
            //Init data
            //console.log('Thermal graph: ' + title);
            var disc = conf[1];
            //console.log(disc);
            var axisName = conf[2];
            //console.log(axisName);
            var traces = conf[4];
            //console.log(traces);
            if(traces.length > 0){
              var dataSet = seriesSet[traces[0].xAxis_id][1];
              //console.log(dataSet);
              if(dataSet.length > 0){
                var data = JSON.parse(dataSet[dataSet.length-1]);
                //console.log(data);
                var datatime = seriesSet[traces[0].xAxis_id][2];
                datatime = new Date(datatime[datatime.length-1]);
                datatime = datatime.getFullYear() + '/' + (datatime.getMonth()+1) + '/' + datatime.getDate() + ' ' +
                                                           datatime.getHours() + ':' + datatime.getMinutes() + ':' + datatime.getSeconds() + '.' +
                                                           datatime.getMilliseconds();
                //console.log(datatime);
                var isEmpty = false;
                //console.log(dataSet.length);
                if(dataSet.length >= 5000)
                  var isSynced = false;
                else
                  var isSynced = true;
              }else{
                var data = 0;
                var datatime = 'No data.';
                var isEmpty = true;
              }
              var noTrace = false;
            }else{
              var data = 0;
              var datatime = 'No data.';
              var noTrace = true;
              var isEmpty = true;
            }

            //Prepare color chips for canvas
            var colorTable = gen_color_chips();
            colors = colorTable[0];
            var chips = colorTable[1]

            //Init canvas
            $('#'+title.replace(/ /g, '')+'_chart').append(canvas_template(title.replace(/ /g, '')));
            var ctx = initCanvas(title.replace(/ /g, ''));
            drawPixel(ctx[0], data);
            ctx[1].drawImage(ctx[2], 0, 0, 800, 800);
            ctx[1].fillStyle='#FFFFFF';
            ctx[1].font = '32px Arial';
            ctx[1].fillText(datatime, 10, 30);
            ctx[1].fillText('Researcher: {{project.project_creator.first_name}} {{project.project_creator.last_name}}',450,750);
            ctx[1].fillText('SYWU IOT LAB, NDHU',450,790);
            var temptureGradient = ctx[1].createLinearGradient(0, 0, 0, 800)
            temptureGradient.addColorStop(0, chroma(colors[1023]).hex());
            temptureGradient.addColorStop(.5, chroma(colors[511]).hex());
            temptureGradient.addColorStop(1, chroma(colors[0]).hex());
            ctx[1].fillStyle=temptureGradient;
            ctx[1].fillRect(820, 0, 100, 800);
            ctx[1].fillStyle='#000000';
            ctx[1].fillText('25'+String.fromCharCode(8451), 930, 790);
            ctx[1].fillText('75'+String.fromCharCode(8451), 930, 30);
            ctx[3].style.width = '500px';
            ctx[3].style.height = '400px';
            $('#'+title.replace(/ /g, '')+'_datatime').text(datatime);
            $('#'+title.replace(/ /g, '')+'_chart').children('img').remove();
            $('#'+title.replace(/ /g, '')+'_chart').children('span').remove();
            $('#ocanvas_'+title.replace(/ /g, '')).show();
            if(noTrace){
              $('#' + title.replace(/ /g, '') + '_msg').children('p').text('No data series in this chart!');
              $('#' + title.replace(/ /g, '') + '_msg').css('display', 'flex');
            }else if(isEmpty){
              $('#' + title.replace(/ /g, '') + '_msg').children('p').text('Waiting for data...');
              $('#' + title.replace(/ /g, '') + '_msg').css('display', 'flex');
            }else if(!isSynced){
              $('#' + title.replace(/ /g, '') + '_msg').children('p').html('Data syncing...<br />It may takes few minutes.');
              $('#' + title.replace(/ /g, '') + '_msg').css('display', 'flex');
            }
            chartLoadCount++;
            if(chartCount == chartLoadCount)
              console.log('All charts are ready.');
          };

          initChart = function() {
            {% for chart, chartConf in chart_set.items %}
            {% if chartConf.0 == '0' %}
            //console.log('{{chart}}');
            chartConf = JSON.parse('{{chartConf}}'.replace(/&#39;/g, '"'));
            //console.log(chartConf);
            drawLineGraph('{{chart}}', chartConf)
            {% elif chartConf.0 == '9' %}
            //console.log('{{chart}}');
            chartConf = JSON.parse('{{chartConf}}'.replace(/&#39;/g, '"'));
            //console.log(chartConf);
            //drawThermalGraph('{{chart}}', chartConf);
            drawHeatmap('{{chart}}', chartConf);
            {% endif %}
            {% endfor %}
          };

          updateHeatmap = function(title, conf) {
            var disc = conf[1];
            var axisName = conf[2];
            var traces = conf[4];
            if(traces.length > 0){
              var dataSet = seriesSet[traces[0].xAxis_id][1];
              if(dataSet.length > 0){
                var data = JSON.parse(dataSet[dataSet.length-1]);
                var datatime = seriesSet[traces[0].xAxis_id][2];
                datatime = new Date(datatime[datatime.length-1]);
                datatime = datatime.getFullYear() + '/' + (datatime.getMonth()+1) + '/' + datatime.getDate() + ' ' +
                                                           datatime.getHours() + ':' + datatime.getMinutes() + ':' + datatime.getSeconds() + '.' +
                                                           datatime.getMilliseconds();
                var isEmpty = false;
                //console.log(dataSet.length);
                data.forEach(function(d) {
                  d.forEach(function(e, index) {
                    this[index] = e*0.0293 + 20;
                  }, d);
                });
                window[title.replace(/ /g, '') + '_chart'].data[0]['z'] = data;
                Plotly.redraw(window[title.replace(/ /g, '') + '_chart']);
                if(!seriesSet[traces[0].xAxis_id][3])
                  var isSynced = false;
                else
                  var isSynced = true;
              }else{
                var data = 0;
                var datatime = 'No data.';
                var isEmpty = true;
              }
              var noTrace = false;
            }else{
              var data = 0;
              var datatime = 'No data.';
              var noTrace = true;
              var isEmpty = true;
            }
            if(noTrace){
              $('#' + title.replace(/ /g, '') + '_msg').children('p').text('No data series in this chart!');
              $('#' + title.replace(/ /g, '') + '_msg').css('display', 'flex');
            }else if(isEmpty){
              $('#' + title.replace(/ /g, '') + '_msg').children('p').text('Waiting for data...');
              $('#' + title.replace(/ /g, '') + '_msg').css('display', 'flex');
            }else if(!isSynced){
              $('#' + title.replace(/ /g, '') + '_msg').children('p').html('Data syncing...<br />It may takes few minutes.');
              $('#' + title.replace(/ /g, '') + '_msg').css('display', 'flex');
            }else{
              $('#' + title.replace(/ /g, '') + '_msg').hide();
            }
            chartLoadCount++;
            if(chartCount == chartLoadCount)
              console.log('All charts are updated.');
          };

          updateLineGraph = function(title, conf) {
            //console.log(window[title.replace(/ /g, '') + '_chart'].data);
            var traces = conf[4];
            var traceSet = [];
            var syncCount = 0;
            var emptyCount = 0;
            for(var i=0; i<(traces.length); i++){
              if(traces[i].xAxis_id == traces[i].yAxis_id){
                if(!seriesSet[traces[i].xAxis_id][3]) syncCount ++;
                else if(seriesSet[traces[i].xAxis_id][4]) emptyCount ++;
                window[title.replace(/ /g, '') + '_chart'].data[i]['x'] = seriesSet[traces[i].xAxis_id][2];
                window[title.replace(/ /g, '') + '_chart'].data[i]['y'] = seriesSet[traces[i].xAxis_id][1];
              }else{
                if(!seriesSet[traces[i].xAxis_id][3] && !seriesSet[traces[i].yAxis_id][3]) syncCount ++;
                else if(seriesSet[traces[i].xAxis_id][4] || seriesSet[traces[i].yAxis_id][4]) emptyCount ++;
                window[title.replace(/ /g, '') + '_chart'].data[i]['x'] = seriesSet[traces[i].xAxis_id][1];
                window[title.replace(/ /g, '') + '_chart'].data[i]['y'] = seriesSet[traces[i].yAxis_id][1];
              }
            }
            Plotly.redraw(window[title.replace(/ /g, '') + '_chart']);
            if(traces.length == 0){
              $('#' + title.replace(/ /g, '') + '_msg').children('p').text('No any trace in this chart!');
              $('#' + title.replace(/ /g, '') + '_msg').css('display', 'flex');
            }else if(emptyCount == traces.length){
              $('#' + title.replace(/ /g, '') + '_msg').children('p').text('Waiting for data...');
              $('#' + title.replace(/ /g, '') + '_msg').css('display', 'flex');
            }else if(syncCount > 0){
              $('#' + title.replace(/ /g, '') + '_msg').children('p').html('Data syncing...<br />It may takes few minutes.');
              $('#' + title.replace(/ /g, '') + '_msg').css('display', 'flex');
            }else{
              $('#' + title.replace(/ /g, '') + '_msg').hide();
            }
            chartLoadCount++;
            if(chartCount == chartLoadCount)
              console.log('All charts are updated.');
          };

          updateThermalGraph = function(title, conf) {
            var traces = conf[4];
            if(traces.length > 0){
              var dataSet = seriesSet[traces[0].xAxis_id][1];
              //console.log(dataSet);
              if(dataSet.length > 0){
                var data = JSON.parse(dataSet[dataSet.length-1]);
                //console.log(data);
                var datatime = seriesSet[traces[0].xAxis_id][2];
                datatime = new Date(datatime[datatime.length-1]);
                datatime = datatime.getFullYear() + '/' + (datatime.getMonth()+1) + '/' + datatime.getDate() + ' ' +
                                                           datatime.getHours() + ':' + datatime.getMinutes() + ':' + datatime.getSeconds() + '.' +
                                                           datatime.getMilliseconds();
                //console.log(datatime);
                var isEmpty = false;
                //console.log(dataSet.length);
                if(dataSet.length >= 5000)
                  var isSynced = true; //false
                else
                  var isSynced = true;
              }else{
                var data = 0;
                var datatime = 'No data.';
                var isEmpty = true;
              }
              var noTrace = false;
            }else{
              var data = 0;
              var datatime = 'No data.';
              var noTrace = true;
              var isEmpty = true;
            }
            var can = $('#canvas_' + title.replace(/ /g, ''))[0];
            ctx = can.getContext('2d');
            drawPixel(ctx, data);
            var octx = $('#ocanvas_' + title.replace(/ /g, ''))[0];
            octx = octx.getContext('2d');
            octx.drawImage(can, 0, 0, 800, 800);
            octx.fillStyle='#FFFFFF';
            octx.font = '32px Arial';
            octx.fillText(datatime, 10, 30);
            octx.fillText('Researcher: {{project.project_creator.first_name}} {{project.project_creator.last_name}}',450,750);
            octx.fillText('SYWU IOT LAB, NDHU',450,790);
            $('#'+title.replace(/ /g, '')+'_datatime').text(datatime);
            if(noTrace){
              $('#' + title.replace(/ /g, '') + '_msg').children('p').text('No data series in this chart!');
              $('#' + title.replace(/ /g, '') + '_msg').css('display', 'flex');
            }else if(isEmpty){
              $('#' + title.replace(/ /g, '') + '_msg').children('p').text('Waiting for data...');
              $('#' + title.replace(/ /g, '') + '_msg').css('display', 'flex');
            }else if(!isSynced){
              $('#' + title.replace(/ /g, '') + '_msg').children('p').html('Data syncing...<br />It may takes few minutes.');
              $('#' + title.replace(/ /g, '') + '_msg').css('display', 'flex');
            }else{
              $('#' + title.replace(/ /g, '') + '_msg').hide();
            }
            chartLoadCount++;
            if(chartCount == chartLoadCount)
              console.log('All charts are updated.');
          };

          updateChart = function() {
            chartLoadCount = 0;
            {% for chart, chartConf in chart_set.items %}
            {% if chartConf.0 == '0' %}
            //console.log('{{chart}}');
            chartConf = JSON.parse('{{chartConf}}'.replace(/&#39;/g, '"'));
            //console.log(chartConf);
            updateLineGraph('{{chart}}', chartConf)
            {% elif chartConf.0 == '9' %}
            //console.log('{{chart}}');
            chartConf = JSON.parse('{{chartConf}}'.replace(/&#39;/g, '"'));
            //console.log(chartConf);
            //updateThermalGraph('{{chart}}', chartConf);
            updateHeatmap('{{chart}}', chartConf);
            {% endif %}
            {% endfor %}
          };

          var csrftoken = $.cookie('csrftoken');

          load_init_data = function(id, label, data_id=0){
            var hasNewData = false;
            if(data_id == 0)
              console.log('Loading series id: ' + id);
            else
              console.log('Updating series id: ' + id);
            $.ajax({
              url: '/dataviewer/getData/',
              type: 'POST',
              data: {
                data_id: data_id,
                label_id: id
              },
              beforeSend: function(xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
              },
              error: function(xhr) {
                console.log('Can not get the data "' + label + '". (Error code: AJAX-1)');
                console.log(xhr);
                alert('Can not get the data "' + label + '". (Error code: AJAX-1)');
              },
              success: function(response) {
                if(response == 0){
                  if(data_id == 0)
                    seriesSet[id] = [[], [], [], true, true, 0];
                  else
                    seriesSet[id][3] = true;
                  console.log('No data for ' + label + ', waiting for new data.');
                }else if(response.data.length > 0){
                  //console.log(response);
                  var data = response.data
                  datapoint = response.id[data.length - 1];
                  if(data.length >= 5000){
                    var synced = false;
                  }else{
                    var synced = true;
                  }
                  if(data_id == 0)
                    seriesSet[id] = [response.id, data, response.insert_date, synced, false, datapoint];
                  else{
                    var tmp_id = seriesSet[id][0].concat(response.id);
                    var tmp_data = seriesSet[id][1].concat(data);
                    var tmp_date = seriesSet[id][2].concat(response.insert_date);
                    seriesSet[id] = [tmp_id, tmp_data, tmp_date, synced, false, datapoint];
                  }
                  hasNewData = true;
                  //console.log(seriesSet[id][0]);
                }else{
                  console.log('Unknown error. (Error code: AJAX-2)');
                  console.log('Response: ' + response);
                  alert('Unknown error. (Error code: AJAX-2)');
                }
              },
              complete: function(xhr) {
                seriesLoadCount++;
                if(seriesCount == seriesLoadCount){
                  seriesReady = true;
                  //console.log(seriesSet);
                  if(data_id == 0){
                    console.log('All series loaded.');
                    console.log('Start loading chart...');
                    initChart();
                  }else if(hasNewData){
                    console.log('Updating chart...');
                    updateChart();
                  }else
                    console.log('No new data.');
                }
              }
            });
          }
          
          setInterval(function(){
            if(seriesReady){
              seriesReady = false;
              seriesLoadCount = 0;
              {% for series in series_set %}
                load_init_data({{series.id}}, '{{series.label}}', seriesSet[{{series.id}}][5]);
              {% endfor %}
            }
          },1000);
          
        </script>
{% endblock %}
