<html>
<head>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script>
</head>
<body>
<form action="." method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Create" />
</form>
<script>
$('#id_chartType').on('change', function(){
  if(this.value == '0'){
    $('#id_chartYaxis').val('');
    $('#id_chartXaxis').parent().children('label').text('ChartXaxis:');
    $('#id_chartYaxis').parent().show();
  }else{
    $('#id_chartYaxis').val('thermal');
    $('#id_chartXaxis').parent().children('label').text('DataName:');
    $('#id_chartYaxis').parent().hide();
  }
});
$(document).ready(function() {
  {% if chart.chartType == '9' %}
  $('#id_yAxis').parent().hide();
  $('#id_xAxis').on('change', function(){
    $('#id_yAxis').val($(this).val());
  });
  {% endif %}
});
</script>
</body>
</html>
